body {
    margin: 0;
    background-image: url("assets/collection-of-hand-drawn-graphic-tulips-floral-clip-art-elements-branches-leaves-and-buds-set-of-childish-drawings-flowers-tulips-in-outlines-flower-isolated-on-white-background-vector-2772561013.jpg");
    background-size:auto;
    background-position: center;
}

#start-page {
    font-family: "Libertinus Mono", monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#FCFCFC;

}

#intro {
    font-size: 80px;
    font-family: "Libertinus Mono", monospace;
    font-weight: 400;
    justify-content: center;
    color: #FA5C98;
}

#tulipFlowers{
    justify-content: center;
    align-content: center;
    width: 400px;
    height: 360px
}

#proceed {
    transition: 300ms ease;
    background-color: #FA5C98;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    color: #FCBCC9;
    font-family: "Libertinus Mono", monospace;
}

#proceed:hover {
    transition: 300ms ease;
    scale: 1.1;
}

#main-content {
    transition: 300ms ease;
    display: none;
}

@media (max-width: 767px){
    #intro {
        font-size: 40px;
    }
}

