body {
    margin: 0;
    background-image: url("assets/collection-of-hand-drawn-graphic-tulips-floral-clip-art-elements-branches-leaves-and-buds-set-of-childish-drawings-flowers-tulips-in-outlines-flower-isolated-on-white-background-vector-2772561013.jpg");
    background-size: cover;
    background-position: center;
    font-family: "Bitcount Grid Double", system-ui;
}

#start-page {
    min-height: 100dvh;
    font-family: "Libertinus Mono", monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#FCFCFC;
    background-size: cover;
    font-size: 16px;

}

#intro {
    font-size: 80px;
    font-family: "Libertinus Mono", monospace;
    font-weight: 400;
    justify-content: center;
    color: #FA5C98;
}

#tulipFlowers{
    justify-content: center;
    align-content: center;
    width: 400px;
    height: 360px
}

#proceed {
    transition: 300ms ease;
    background-color: #FA5C98;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    color: #FCBCC9;
    font-family: "Libertinus Mono", monospace;
}

#proceed:hover {
    transition: 300ms ease;
    scale: 1.1;
}

#main-content {
    margin: 15px;
    color: #81ace4;
    text-shadow: 1px 1px #6f3b62;
    transition: 300ms ease;
    display: none;
}

#greetings {
    text-align: center;
    color: #6f3b62;
    text-shadow: 1px 1px#81ace4;
    font-weight: 400;
    font-size: 30px
}

#hor1 {
    height: 2px;
    background: #81ace4;
    box-shadow: 2px 2px  #6f3b62;
}

#uod {
    font-style: italic;
    color: orange;
    text-shadow: 1px 1px #558590;
    padding: 10px;
}

@media (max-width: 767px){
    #intro {
        font-size: 40px;
    }
}

